@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--glass:
		4px 5px 8px -7px color-mix(in oklab, white 10%, transparent 90%),
		-4px -5px 2px -4px color-mix(in oklab, white 20%, transparent 80%),
		0px 0px 32px -3px color-mix(in oklab, white 5%, transparent 95%);
}
